<mat-card class="notifications">
  <mat-card-header>
    <mat-card-title>Here's what happened while you were gone:</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    //TODO: Add expanding tree for notifications
    <!-- <mat-tree>
      <mat-nested-tree-node>
        Event invitations:
        <mat-nested-tree-node></mat-nested-tree-node>
        <mat-nested-tree-node></mat-nested-tree-node>
      </mat-nested-tree-node>
      <mat-nested-tree-node>
        Group invitations:
        <mat-nested-tree-node>You have been invited to join Magnus Jørs and 3 others in INFO283 Eksamensøving
        </mat-nested-tree-node>
      </mat-nested-tree-node>
      <mat-nested-tree-node>
        Group chat:
        <mat-nested-tree-node>3 new messages in INFO212</mat-nested-tree-node>
        <mat-nested-tree-node>6 new messages in Fagutvalget</mat-nested-tree-node>
        <mat-nested-tree-node>1 new message in Tesla Bergen</mat-nested-tree-node>
      </mat-nested-tree-node>
    </mat-tree> -->
  </mat-card-content>
</mat-card>
