:host {
  display: flex;
}

.weekly-overview {
  flex: 0 1 70%;
  margin: 16px 16px;
}

.weekly-overview>.mat-divider {
  border-top-color: grey;
  border-top-width: 2px;
}

.scroll-container {
  height: 660px;
  overflow: auto;
}

.mat-expansion-panel .mat-card {
  background-color: #7b1fa2;
}

.mat-divider {
  border-top-color: grey;
  border-top-width: 1px;
}

.notifications {
  flex: 1 0 auto;
  margin: 16px 16px;
}

::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #7b1fa2;
  border-radius: 4px;
}
